#double-background {
    width: 1116.99px;
    height: 643.7px;
    border: 5px solid #b6e09f;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    opacity: 0.95;    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/numberbackground.jpg");
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
  
#grid-intro{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

h1{
    font-size : 70px;
}
 
#start-button{
    display : block;
    margin:110px auto;
}
  
#start-button {
	box-shadow:inset 0px 0px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:29px;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:30px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 3px 0px #aade7c;
}

#start-button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}

#basic-img{
    width: 420px;
    height: 420px;
}

#chance-area{
    text-align:right;
    font-size:50px;
    font-weight:bold;
}

#grid-img{
    display: grid;
    grid-template-columns: 30% 70%;

}

#result-area{
    text-align: center;
    padding : 160px 0;
    padding-left: 100px;
    font-size: 40px;
    font-weight: bold;
}

#user-number{
    width:700px; 
    height:30px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    border-radius:29px;
}
 
#play-button{
    box-shadow:inset 0px 0px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:29px;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:3px 16px;
	text-decoration:none;
	text-shadow:0px 3px 0px #aade7c;
}   

#play-button:hover #reset-button:hover{
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}

#reset-button:hover{
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}

#reset-button{
    box-shadow:inset 0px 0px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:29px;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:3px 16px;
	text-decoration:none;
	text-shadow:0px 3px 0px #aade7c;
 }   
 
/*모바일 반응형*/
@media screen and (max-width: 768px){
/*index1 이미지*/
  
    h1{
        font-size: 60px;
    }
    #grid-intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro-img{
        height: 240px;
    }
    .intro2-img{
        display: none;
    }
    #start-button{
        margin:10px auto;
    }

/*index2 이미지*/

    #chance-area{
        text-align: center;
        font-size:30px;
        font-weight:bold;
    }
    #grid-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #basic-img{
       height: 320px; 
       width: 320px;
    }
    
    #result-area{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    
    }
    #user-number{
        display: flex;
        width: 300px;
        border-radius:29px;
        margin: 40px auto;
    }
    }
  

 